.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

.appContainer {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
}

.appMain {
  flex: 1;
}

@media screen and (max-width: 768px) {
  /* maybe make the menu a floating button on the bottom right corner? or drag n drop? */
  .appNavigation {
    min-width: 50px;
  }
  .navText {
    display: none;
  }
}